@import "mocha.css";

* {
  font-family: MesloLGS Nerd Font Propo;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#tray,
#network,
#clock,
#cpu,
#memory,
#pulseaudio,
#workspaces,
#privacy,
#window,
#custom-media,
.group-power {
  background-color: @surface0;
  margin: 8px 2px 0px 4px;
  padding: 0px 8px 0px 8px;
  border-radius: 1rem;
}

#workspaces {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

#workspaces button {
  color: @pink;
  padding: 2px 4px;
  margin: 0 2px;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  background-color: transparent;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @flamingo;
  border-radius: 1rem;
}

#workspaces button:hover {
  background-color: @surface0;
  color: @rosewater;
  border-radius: 1rem;
}

#window {
  color: @subtext0;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
}

#custom-media {
  color: @text;
}

#clock {
  color: @lavender;
  /* here it's the opposite of the pulseaudio module, somehow there is too much padding here and it looks right at 0 */
  padding-right: 0;
}

#cpu {
  color: @green;
}

#memory {
  color: @yellow;
}

#network {
  color: @flamingo;
}

#pulseaudio {
  color: @pink;
  /* no idea why it's needed, but without this it looks very bad */
  padding-right: 16px;
}

#pulseaudio.muted {
  color: @red;
}

#tray {
  border-radius: 1rem;
}

tooltip {
  background: @base;
  border: 1px solid @pink;
}

tooltip label {
  color: @text;
}

.group-power {
  padding: 0;
}

#custom-lock,
#custom-logout,
#custom-reboot,
#custom-shutdown {
  /* default padding */
  padding-left: 4px;
  padding-right: 4px;

  margin-left: 4px;
  margin-right: 4px;
}

/* left-most icon, extra left padding */
#custom-lock {
  padding-left: 8px;
}

/* right-most icon, extra right padding */
#custom-shutdown {
  padding-right: 8px;
}

#privacy-item {
  margin: 0 2px;
}
